{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha4"}
        org.clojure/core.async {:mvn/version "0.4.490"}
        aleph {:mvn/version "0.4.6"}
        buddy {:mvn/version "2.0.0"}
        hiccup {:mvn/version "1.0.5"}
        metosin/jsonista {:mvn/version "0.2.2"}
        metosin/muuntaja {:mvn/version "0.6.4"}
        metosin/reitit {:mvn/version "0.3.1"}
        javax.servlet/servlet-api {:mvn/version "2.5"} ; required for ring multipart middleware
        garden {:mvn/version "1.3.9"}
        clojure.java-time {:mvn/version "0.3.2"}
        juxt/crux {:mvn/version "19.04-1.0.3-alpha"}
        org.rocksdb/rocksdbjni {:mvn/version "5.17.2"}
        com.draines/postal {:mvn/version "2.0.3"}
        spootnik/signal {:mvn/version "0.2.1"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.21.1"}}
                 :main-opts ["-m" "dev.repl"]}
           ; run uberjar like this: `java -cp target/letsdo.events.jar clojure.main -m lde.main`
           :uberjar {:extra-deps {uberdeps {:local/root "../uberdeps"}}
                     :main-opts ["-m" "uberdeps.uberjar"]}}}
